input {
  background-color: #252734;
  color: #fff;
  font-size: 20px;
  border: 1px solid gray;
  border-radius: 20px;
  padding: 5px 18px;
  font-weight: 400;
  transition: 0.5s;
  outline: none;
  width: 70%;
  margin-top: 15px;
}
.message {
  background-color: #252734;
  color: #fff;
  font-size: 18px;
  border: 1px solid gray;
  border-radius: 20px;
  padding: 5px 18px;
  font-weight: 400;
  transition: 0.5s;
  outline: none;
  width: 70%;
  height: 100px;
}
.contact-text p {
  color: #7c7e8a;
}
